!!!
%html
  %head
    %title Welcome
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', type: 'javascript' }
    :javascript
      $(function(){
        alert('yay!')
      })
    %meta{ name: 'keywords', content: 'foo bar baz' }
  %body
    %h1 Title
    %ul
      %li one
      %li two
      %ol
        %li three
        %li four
      %li five