%html
  %head
    %title Title
  %body
  %h1 Welcome
  %ul#menu
    %li.first one
    %li two
    %li.last three
    %li
      %ul
        %li nested
  #content
    .article
      first
      article
      here
    .article
      second article
      and content
      here