%html
  %head
    %title= title
    
    -# look mah! comments!
    
    %script{ src: 'jquery.js' }
    %script{ src: 'jquery.ui.js' }
    
  %body
    %h1 Welcome
    %ul#menu
      %li.first one
      %li two
      %li.last three
      %li
        %ul
          %li nested
    #content
      = body
    #usersOnline= usersOnline
